PORT=5000
MONGODB_URI=mongodb://localhost:27017/ai-coding-platform
JWT_SECRET=supersecretjwtkey_12345
GEMINI_API_KEY=your_gemini_api_key_here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET =

GITHUB_CALLBACK_URL=
GOOGLE_CALLBACK_URL=

MOCK_AI=true
DISABLE_RATE_LIMIT=true